// Require
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/mixins";

//veriable 
@import "./_variables";   // 自定義的變數 scss 檔
@import './root.scss';

h1,h2,h3,h4,h5,h6{
    margin-bottom: 0!important;
}
p{
    margin-bottom: 0!important;
}

html,
body,
#root {
    font-family: 'Noto Sans'!important;
    height: 100%;
}
body{
    // font-family: 'Cubic'!important;
}

button{
    padding:0;
    background:none;
    border:0;
}

.midHiegh{
    height: calc(100% - var(--header-height));
}

.pCenter{
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.rambleText{
    background: linear-gradient(270.03deg, #339943 0.02%, #FFEF5B 25.01%, #FF392D 49.99%, #9747FF 74.46%, #5C94FC 99.97%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}


.fdc{
    display: flex;
    flex-direction: column;
}

.fontBold{
    font-size:  1.5rem;
    font-weight: bold;
}

.active {
    border: 2px solid #4F61E8;
    border-radius: 4px;
  }